.App {
  text-align: center;
}
.App-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: saddlebrown;
  padding: 10px;
}
.grid-item {
  background-color: rosybrown;
  border: 1px solid saddlebrown;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: all 0.5s;
}
.grid-item:hover {
  background-color: rgba(255, 188, 183, 0.8);
  border: 1px solid #ff720c;
  cursor: pointer;
}
.white {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.black {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
.turnText {
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
  cursor: default;
}
.scoreText {
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
  cursor: default;
}
.score {
  display: block;
  padding: 5px;
}
.scoreItem {
  display: inline-block;
  background-color: rosybrown;
  border: 3px solid saddlebrown;
  text-align: center;
  font-family: sans-serif;
  padding: 25px;
  border-radius: 30%;
}
